cmake-build-debug/
**/__pycache__/
*.pyc
/.idea/
build/
.vscode/
dist/
TuneCoach.egg-info

PitchDetection/CMake*
PitchDetection/Makefile
PitchDetection/cmake*
PitchDetection/PitchDetection.cbp
PitchDetection/PitchDetection
PitchDetection/.idea
bridge/__pycache__/